<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Portolio</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div>
        <h1>About Me</h1>
        <div class="block">
            <img src="~/images/kid.jpg" alt="ME!">
            <p>Hi I'm this guy!</p>
        </div>
        <div class="block">
            <p>General jibberish and bragging.</p>
        </div>
    </div>
</body>
</html>
