<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Portolio</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div>
        <h1>Here are some projects of mine!</h1>
        <div class="projectBlock">
            <div class="block">
                <img src="~/images/dice.jpg" alt="Dice!">
            </div>
            <div class="block">
                <h3>Dice Project!</h3>
                <p>This is a project about Dice!</p>
            </div>
        </div>
        <div class="projectBlock">
            <div class="block">
                <img src="~/images/puzzle.jpg" alt="Puzzle!">
            </div>
            <div class="block">
                <h3>Puzzle Project!</h3>
                <p>This is a project about Puzzles!</p>
            </div>
        </div>
        <div class="projectBlock">
            <div class="block">
                <img src="~/images/G.png" alt="G!">
            </div>
            <div class="block">
                <h3>G Project!</h3>
                <p>This is a project about G!</p>
            </div>
        </div>
    </div>
</body>
</html>